# Assignment #4 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino
Spring 2024

Name: Poorva Patel

Date:2/15/24

<b>Only Murders in the...Database?</b><br>
An introduction to navigating SQL databases using R and Jupyter Notebook. <br>
<br>
A crime has taken place and you are the perfect amateur detective to solve it! 
<br>
The detective gave you the crime scene report, but you somehow lost it...? You vaguely remember that the crime
was a murder that occurred sometime on <b>Jan.15, 2018</b> and that it took place in <b>SQL
City</b>. All the clues to this mystery are buried in a huge database, and you need to use
SQL to navigate through this vast network of information. Your first step to solving the mystery is to retrieve the corresponding crime scene report from the police department’s database. Take a look at the cheatsheet to learn how to do this! From there, you can use your SQL skills to find the murderer.<br>

Your task for Assignment #4 is to:<br>
<b>--</b>Find our who the murderer is!<br>
<b>--</b>Read/Review Chapters 4-6 in Getting Started with SQL on available on Blackboard (Keep in mind the code will have to be modified for R!)<br>
<b>--</b>Add detailed comments to explain EVERY query or SQL command you use while we are still learning and practicing. I have my steps outlined, but please add more cells inbetween for additional queries! There is no limit on the number of queries you can use. <br>
<b>--</b>For each query include comments such as "SELECT all records FROM table WHERE column name = X"<br>
<b>--</b>Answer any prompts in markdown cells.<br>
<br>
<br>
Basic usage of database commands in R with SQLite library: https://rsqlite.r-dbi.org/

This fabulous database was created by @NUKnightLab on Github and can be found here: https://github.com/NUKnightLab/sql-mysteries

Database files are indicated by the .db file extension. For this exercise, our database has already been created. To avoid setting your working directory, have the .db file and Assignment#4_LastName.ipynb in the same file location. There are multiple libraries that can be used to navigate database files and connect to SQL for databases that are stored on a server or your computer as a local host.

In [29]:
#install.packages("RSQLite")
#install.packages("RMariaDB")
#install.packages("DBI")
#install.packages("dplyr")
#install.packages("dbplyr")
#library(RMariaDB)
library("RSQLite") #We will use R commands to work with SQL in a database file using RSQLite.
library("DBI")
library("dplyr")
library("dbplyr")
#If a red box appears telling you where the packages are downloaded, just run the line of code a second time to have it dissapear.

In [123]:
#How to connect to our .db file using library RSQLite
#Notice that we are not specifiying a host, password, or server at this time.
db <- dbConnect(dbDriver("SQLite"), dbname = "sql-murder-mystery.db")

In [31]:
#Explore the database
#List all of the tables present in the database. Do they match the schema image?
#This is a good way to double check that your database was loaded into R correctly.
dbListTables(db)

[1] "crime_scene_report"     "drivers_license"        "facebook_event_checkin"
[4] "get_fit_now_check_in"   "get_fit_now_member"     "income"
[7] "interview"              "person"                 "solution"

In [32]:
#Explore the database
#Show what information is present in ALL of the tables:

crime <- dbReadTable(db, 'crime_scene_report')
View (crime)

license <- dbReadTable(db, 'drivers_license')
View (license)

facebook <- dbReadTable(db, 'facebook_event_checkin')
View (facebook)

check <- dbReadTable(db, 'get_fit_now_check_in')
View (check)

member <- dbReadTable(db, 'get_fit_now_member')
View (member)

income <- dbReadTable(db, 'income')
View (income)

interview  <- dbReadTable(db, 'interview')
View (interview)

person <- dbReadTable(db, 'person')
View (person)

solution  <- dbReadTable(db, 'solution')
View (solution)

#So much data! How would we possibly make sense of ANY of this without SQL? :)

     date     type
1    20180115 robbery
2    20180115 murder
3    20180115 murder
4    20180215 murder
5    20180215 murder
6    20180115 theft
7    20180115 fraud
8    20170712 theft
9    20170820 arson
10   20171110 robbery
11   20180103 bribery
12   20180115 assault
13   20180115 assault
14   20170101 fraud
15   20170101 fraud
16   20170101 theft
17   20170101 smuggling
18   20170101 assault
19   20170102 arson
20   20170102 bribery
21   20170102 theft
22   20170102 smuggling
23   20170103 arson
24   20170104 blackmail
25   20170105 theft
26   20170105 robbery
27   20170106 blackmail
28   20170106 blackmail
29   20170106 theft
30   20170107 bribery
⋮    ⋮        ⋮
1199 20180422 assault
1200 20180422 blackmail
1201 20180422 arson
1202 20180424 arson
1203 20180425 arson
1204 20180425 robbery
1205 20180425 blackmail
1206 20180425 robbery
1207 20180425 bribery
1208 20180426 smuggling
1209 20180426 assault
1210 20180426 theft
1211 20180427 fraud
1212 20180427 theft
1213 20180427 blackmail
1214 20180427 arson
1215 20180427 murder
1216 20180428 murder
1217 20180428 fraud
1218 20180428 assault
1219 20180428 arson
1220 20180428 blackmail
1221 20180429 murder
1222 20180430 murder
1223 20180430 robbery
1224 20180430 bribery
1225 20180430 fraud
1226 20180430 assault
1227 20180501 assault
1228 20180115 murder
     description
1    A Man Dressed as Spider-Man Is on a Robbery Spree
2    Life? Dont talk to me about life.
3    Mama, I killed a man, put a gun against his head...
4    REDACTED REDACTED REDACTED
5    Someone killed the guard! He took an arrow to the knee!
6    Big Bully stole my lunch money!
7    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do\n            eiusmod tempor incididunt ut labore et dolore magna aliqua.
8    A lone hunter stalks the night, firing arrows into the Darkness.\n            There is no hiding, no escape. In the distance, the beast\n            falters, tethered to the void. The killing blow comes without\n            hesitation, without mercy.
9    Wield the Hammer of Sol with honor, Titan, it is a thing of\n            legend, both past and future.
10   The Gjallarhorn shoulder-mounted rocket system was forged from\n            the armor of Guardians who fell at the Twilight Gap. Gifted\n            to the survivors of that terrible battle, the Gjallarhorn\n            is seen as a symbol of honor and survival.
11   Apparently, Cayde thought it necessary to expose this extremely\n            rare vegetable to a Hive summoning ritual.
12   Hamilton: Lee, do you yield? Burr: You shot him in the side! Yes he yields!
13   Report Not Found
14   forgotten to ask.’\n
15   Alice did not wish to offend the Dormouse again, so she began very\n
16   ‘Yes,’ said Alice, ‘we learned French and music.’\n
17   ‘Now tell me, Pat, what’s that in the window?’\n
18   twist it up into a sort of knot, and then keep tight hold of its right\n
19   with a smile. There was a dead silence.\n
20   glass table. ‘Now, I’ll manage better this time,’ she said to herself,\n
21   days and days.’\n
22   ‘Yes,’ said Alice, ‘we learned French and music.’\n
23   witness.’ And he added in an undertone to the Queen, ‘Really, my dear,\n
24   see what was the matter with it. There could be no doubt that it had\n
25   came, carried on the breeze that followed them, the melancholy words:--\n
26   uglifying!’ it exclaimed. ‘You know what to beautify is, I suppose?’\n
27   rather sharply; ‘I advise you to leave off this minute!’ She generally\n
28   CHAPTER X. The Lobster Quadrille\n
29   ‘Of course it is,’ said the Duchess, who seemed ready to agree to\n
30   The hedgehog was engaged in a fight with another hedgehog, which seemed\n
⋮    ⋮
1199 ‘Exactly so,’ said Alice.\n
1200 about the reason and all that,’ he said to the Gryphon.\n
1201 \n
1202 \n
1203 simply--“Never imagine yourself not to be otherwise than what it might\n
1204 resting in the shade: however, the moment they saw her, they hurried\n
1205 \n
1206    Do you think I can listen all day to such stuff?\n
1207 thing is to find my way into that lovely garden. I think that will be\n
1208 straightening itself out again, so that altogether, for the first minute\n
1209 ‘But about his toes?’ the Mock Turtle persisted. ‘How COULD he turn them\n
1210 ‘What did they draw?’ said Alice, quite forgetting her promise.\n
1211 carefully, remarking, ‘I really must be getting home; the night-air\n
1212 shouting ‘Off with his head!’ or ‘Off with her head!’ about once in a\n
1213 deep and reaching half down the hall.\n
1214 \n
1215 ‘Only a thimble,’ said Alice sadly.\n
1216 wag my tail when I’m angry. Therefore I’m mad.’\n
1217 Alice glanced rather anxiously at the cook, to see if she meant to take\n
1218 sea-shore--’\n
1219 remained some time after the rest of it had gone.\n
1220 other side of the court.\n
1221 (she was obliged to say ‘creatures,’ you see, because some of them were\n
1222 ‘But what am I to do?’ said Alice.\n
1223 ‘And how did you manage on the twelfth?’ Alice went on eagerly.\n
1224 \n
1225 ‘Why not?’ said the March Hare.\n
1226 \n
1227 be NO mistake about it: it was neither more nor less than a pig, and she\n
1228 Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".
     city
1    NYC
2    Albany
3    Reno
4    SQL City
5    SQL City
6    Chicago
7    Seattle
8    SQL City
9    SQL City
10   SQL City
11   SQL City
12   SQL City
13   SQL City
14   Long Beach
15   Oceanside
16   Chicago
17   Gilbert
18   Nashville
19   Las Vegas
20   Riverside
21   Canton
22   Alexandria
23   Rochester
24   Lacey
25   McAllen
26   Seaside
27   Lewisville
28   Jackson
29   High Point
30   Lorain
⋮    ⋮
1199 Port Arthur
1200 Madison
1201 Naperville
1202 New York
1203 Louisville
1204 San Francisco
1205 Chula Vista
1206 Hesperia
1207 Thousand Oaks
1208 Trenton
1209 New Bedford
1210 Danbury
1211 West Valley City
1212 Mobile
1213 Laredo
1214 Leominster
1215 St. Petersburg
1216 Appleton
1217 Memphis
1218 Hickory
1219 Denton
1220 Lorain
1221 Toledo
1222 Spokane
1223 Trenton
1224 Garden Grove
1225 Houma
1226 Fontana
1227 Trenton
1228 SQL City

      id     age height eye_color hair_color gender plate_number car_make
1     100280 72  57     brown     red        male   P24L4U       Acura
2     100460 63  72     brown     brown      female XF02T6       Cadillac
3     101029 62  74     green     green      female VKY5KR       Scion
4     101198 43  54     amber     brown      female Y5NZ08       Nissan
5     101255 18  79     blue      grey       female 5162Z1       Lexus
6     101494 48  55     blue      red        female 81X1N7       Kia
7     101568 53  78     brown     blue       male   SJ57LL       Saab
8     101586 57  70     amber     brown      male   31U1KE       Jaguar
9     101611 40  65     blue      white      female 5O8VW7       GMC
10    101613 81  58     brown     grey       female 5PCQB5       GMC
11    101640 87  67     amber     black      male   3U18J6       Volvo
12    101726 78  81     blue      blue       female 236T17       Oldsmobile
13    101773 55  57     amber     black      female VK5SOO       Chevrolet
14    101782 57  61     amber     green      female 0LX0QI       Toyota
15    101836 56  51     blue      grey       female 3VSG76       Hyundai
16    101859 31  71     blue      blonde     female 02B7L4       Nissan
17    101862 26  75     green     blonde     male   LQ23Y5       Nissan
18    101909 84  52     amber     brown      male   5Y633C       Ford
19    102089 75  52     blue      blonde     female 2QL48Q       GMC
20    102182 66  63     green     white      male   JI6481       Saturn
21    102307 28  74     black     green      female 30A1X3       Dodge
22    102355 29  67     blue      blonde     male   7K625Q       Ford
23    102536 21  76     blue      blonde     male   3DG322       Suzuki
24    102648 63  70     black     blue       female JHB3F7       Buick
25    102710 31  63     black     blonde     female 0UNSTD       Buick
26    102844 30  62     blue      blue       male   471TX3       Chevrolet
27    102926 72  60     blue      blue       female 4635J3       GMC
28    102950 56  78     brown     red        male   4BR8A0       Honda
29    103085 59  70     blue      white      male   710NU4       Oldsmobile
30    103138 37  65     brown     blonde     male   T6TV0T       Ford
⋮     ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
9978  996996 20  56     black     green      female 5Y0W6U       Maserati
9979  997044 59  59     brown     white      male   80E164       Lexus
9980  997251 27  79     amber     green      female A5A658       Volkswagen
9981  997283 50  82     amber     blue       male   NOTT82       Ford
9982  997554 35  50     brown     white      male   27M0VW       Hyundai
9983  997586 39  64     brown     grey       female DZTE7O       Cadillac
9984  997610 35  68     amber     white      male   N72K7G       Dodge
9985  997703 23  51     brown     white      male   5G60IA       Hyundai
9986  997724 65  73     blue      blonde     male   640570       Toyota
9987  997909 26  77     black     blue       female VJM87S       Mazda
9988  997950 84  69     blue      grey       female 66DP8D       Infiniti
9989  998079 35  77     amber     blonde     male   00X535       Honda
9990  998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
9991  998157 61  54     amber     black      male   105077       BMW
9992  998194 59  65     black     red        female U85D0X       Mitsubishi
9993  998237 39  65     amber     black      male   V13Y51       Acura
9994  998262 36  54     amber     black      female 5T8618       Lexus
9995  998334 49  53     green     green      male   CYB421       Audi
9996  998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
9997  998476 48  72     black     blue       female YC22H2       Cadillac
9998  998681 65  67     blue      green      female 7N21H3       Chrysler
9999  998741 60  62     amber     blue       female 886XH6       Honda
10000 999374 60  54     black     red        male   PKO8N7       BMW
10001 999509 42  80     amber     blue       female 8E403S       Morgan
10002 999536 56  65     green     green      female 4FFUD5       Mercury
10003 999923 19  77     amber     black      female 5L0ZI4       GMC
10004 999940 71  61     green     green      male   1B8QN8       Mitsubishi
10005 999981 67  69     brown     blue       female 1684K3       Land Rover
10006 999986 49  58     green     grey       male   F8F64H       Lexus
10007 999993 18  63     black     black      female 6UZO2O       Cadillac
      car_model
1     MDX
2     SRX
3     xB
4     Rogue
5     GS
6     Sportage
7     9-5
8     XK
9     Sierra Denali
10    Sierra 2500
11    S60
12    Intrigue
13    Express 1500
14    Matrix
15    Azera
16    Pathfinder
17    350Z
18    E-Series
19    Savana 3500
20    S-Series
21    Ram Van 3500
22    F350
23    Grand Vitara
24    LaCrosse
25    Regal
26    Trailblazer
27    Savana 1500
28    Insight
29    Cutlass
30    Focus
⋮     ⋮
9978  Quattroporte
9979  GS
9980  Jetta
9981  Explorer
9982  Equus
9983  XLR-V
9984  Neon
9985  Santa Fe
9986  Highlander
9987  Protege
9988  G37
9989  Accord Crosstour
9990  SLK-Class
9991  650
9992  Lancer Evolution
9993  NSX
9994  SC
9995  A8
9996  Lancer
9997  CTS
9998  Aspen
9999  Insight
10000 530
10001 Aero 8
10002 Sable
10003 Sierra 3500
10004 Eclipse
10005 LR2
10006 LS
10007 DeVille

      person_id event_id
1     28508     5880
2     63713     3865
3     63713     3999
4     63713     6436
5     82998     4470
6     82998     6186
7     82998     7364
8     31811     8542
9     31811     4387
10    61201     9621
11    61201     1750
12    97207     1143
13    97207     1143
14    15165      811
15    86208     1581
16    86208     8785
17    35267     1978
18    35267       89
19    35267     4464
20    41421     3799
21    33856     9325
22    84575     7454
23    84575     8442
24    82799     5313
25    82799      315
26    82799     5963
27    96790     2506
28    66493      816
29    46263     9167
30    46263     2559
⋮     ⋮         ⋮
19982 74729     1604
19983 74729     8207
19984 27910     3213
19985 37357     3734
19986 37357     5605
19987 72237     9185
19988 72237     4687
19989 90297     6129
19990 95698     1171
19991 79110     7130
19992 79110     4818
19993 79110     4006
19994 10206     3376
19995 10206     3384
19996 10206     1659
19997 80841     7862
19998 80841     8417
19999 52796     2993
20000 52796     2433
20001 72555      797
20002 24556     1143
20003 24556     1143
20004 24556     1143
20005 14887     4719
20006 16371     4719
20007 99716     1143
20008 99716     1143
20009 99716     1143
20010 67318     4719
20011 67318     1143
      event_name
1     Nudists are people who wear one-button suits.\n
2     but that's because it's the best book on anything for the layman.\n
3             If Murphy's Law can go wrong, it will.\n
4     Old programmers never die.  They just branch to a new address.\n
5     Help a swallow land at Capistrano.\n
6     Good day to let down old friends who need help.\n
7             Among economists, the real world is often a special case.\n
8                     -- Herbert Prochnow\n
9     The Pig, if I am not mistaken,\n
10    responsibility at the other.\n
11    A: Three.  One to screw in the lightbulb and two to fend off all those\n
12    SQL Symphony Concert
13    SQL Symphony Concert
14    Minnie Mouse is a slow maze learner.\n
15    "You'll never be the man your mother was!"\n
16                    -- Lewis Carroll\n
17    the continuing viability of Fortran.\n
18    Egotism is the anesthetic given by a kindly nature to relieve the pain\n
19    POP UP, PUSH DOWN, BYTE, BYTE, BYTE!\n
20    And everywhere this language went,\n
21                    -- Macy's\n
22    Screw up your courage!  You've screwed up everything else.\n
23    A professor is one who talks in someone else's sleep.\n
24    Ingrate: A man who bites the hand that feeds him, and then complains of\n
25    Don't cook tonight -- starve a rat today!\n
26    meant to be discarded:  That the whole point is to always see it as a\n
27    Experience is that marvelous thing that enables you recognize a\n
28    Just because your doctor has a name for your condition doesn't mean he\n
29    Diplomacy is the art of saying "nice doggy" until you can find a rock.\n
30    USER n.: A programmer who will believe anything you tell him.\n
⋮     ⋮
19982 Absentee: A person with an income who has had the forethought to remove\n
19983 soup can't cure is neurotic dependence on one's mother.\n
19984 President Reagan has noted that there are too many economic pundits and\n
19985 Lysistrata had a good idea.\n
19986 Noncombatant: A dead Quaker.\n
19987 has been discontinued.\n
19988 America may be unique in being a country which has leapt from barbarism\n
19989 Flappity, floppity, flip\n
19990 At the source of every error which is blamed on the computer you will\n
19991 Democracy is a form of government in which it is permitted to wonder\n
19992 slandered.\n
19993 It was the reader's CONS\n
19994 \n
19995 Losing your drivers' license is just God's way of saying "BOOGA, BOOGA!"\n
19996 Screw up your courage!  You've screwed up everything else.\n
19997 A: Both of them.\n
19998 Now and then an innocent person is sent to the legislature.\n
19999                 -- Bertold Brecht\n
20000 A diva who specializes in risqu'e arias is an off-coloratura soprano...\n
20001 Eggheads unite!  You have nothing to lose but your yolks.\n
20002 SQL Symphony Concert
20003 SQL Symphony Concert
20004 SQL Symphony Concert
20005 The Funky Grooves Tour
20006 The Funky Grooves Tour
20007 SQL Symphony Concert
20008 SQL Symphony Concert
20009 SQL Symphony Concert
20010 The Funky Grooves Tour
20011 SQL Symphony Concert
      date
1     20170913
2     20171009
3     20170502
4     20170926
5     20171022
6     20170921
7     20170320
8     20171203
9     20180106
10    20180418
11    20180219
12    20170322
13    20180226
14    20180116
15    20170604
16    20170301
17    20170917
18    20170904
19    20170820
20    20171206
21    20170830
22    20170923
23    20171102
24    20170513
25    20180214
26    20170425
27    20180421
28    20171211
29    20170417
30    20170117
⋮     ⋮
19982 20170910
19983 20180323
19984 20180403
19985 20170715
19986 20170926
19987 20180330
19988 20180119
19989 20180304
19990 20170403
19991 20170920
19992 20170608
19993 20180218
19994 20171008
19995 20171101
19996 20180212
19997 20170212
19998 20170530
19999 20170704
20000 20180202
20001 20170716
20002 20171207
20003 20171221
20004 20171224
20005 20180115
20006 20180115
20007 20171206
20008 20171212
20009 20171229
20010 20180115
20011 20171206

     membership_id check_in_date check_in_time check_out_time
1    NL318         20180212       329           365
2    NL318         20170811       469           920
3    NL318         20180429       506           554
4    NL318         20180128       124           759
5    NL318         20171027       418          1019
6    NL318         20171018       608          1074
7    NL318         20171127       850           954
8    NL318         20170627       591           715
9    NL318         20180114       777           813
10   NL318         20171107       148           460
11   NL318         20170420       647          1113
12   NL318         20180110       476           498
13   NL318         20171206       892          1197
14   NL318         20180220       272          1118
15   NL318         20170527       851          1111
16   NL318         20170625       201           542
17   NL318         20170324       236          1043
18   NL318         20180224       262           438
19   NL318         20170507       645          1047
20   NL318         20180216        86           649
21   NL318         20170120      1015          1104
22   NL318         20170220       367           567
23   NL318         20170417       366           649
24   NL318         20170820       237          1110
25   NL318         20170121       476           648
26   NL318         20180116       374          1130
27   AOE21         20180414      1034          1087
28   AOE21         20170220       932          1181
29   AOE21         20170802      1027          1055
30   AOE21         20171106       968          1043
⋮    ⋮             ⋮             ⋮             ⋮
2674 2V137         20170118       239           579
2675 2V137         20171004      1097          1198
2676 2V137         20170702       409           844
2677 2V137         20170715       905           927
2678 2V137         20170909       448           590
2679 2V137         20180304       321          1187
2680 2V137         20180209        77           636
2681 4KB72         20170403       745           829
2682 4KB72         20170404       832          1057
2683 4KB72         20180407       859           996
2684 4KB72         20171126       969          1054
2685 4KB72         20180318       415           829
2686 4KB72         20170109       642           767
2687 4KB72         20170412       511          1022
2688 4KB72         20180303       313           830
2689 4KB72         20170311       678           792
2690 4KB72         20170824       274          1021
2691 4KB72         20171223      1200          1200
2692 4KB72         20170311       609           705
2693 4KB72         20171128        25           846
2694 4KB72         20180126       318           680
2695 4KB72         20170814       110          1085
2696 4KB72         20170913       242           638
2697 4KB72         20170925      1001          1051
2698 4KB72         20170227      1167          1197
2699 4KB72         20170422      1016          1114
2700 4KB72         20170630       408           885
2701 48Z7A         20180109      1600          1730
2702 48Z55         20180109      1530          1700
2703 90081         20180109      1600          1700

    id    person_id name                membership_start_date membership_status
1   NL318 65076     Everette Koepke     20170926              gold
2   AOE21 39426     Noe Locascio        20171005              regular
3   2PN28 63823     Jeromy Heitschmidt  20180215              silver
4   0YJ24 80651     Waneta Wellard      20171206              gold
5   3A08L 32858     Mei Bianchin        20170401              silver
6   6W6I2 69510     Paris Accurso       20170613              regular
7   5Y28Y 15218     Millicent Yessios   20180205              gold
8   156A7 79701     Marcelino Leard     20180428              silver
9   A5N3S 24541     Mary Cameron        20170501              gold
10  X0643 15247     Shondra Ledlow      20170521              silver
11  8T75D 86040     Shani Mcclard       20170430              silver
12  R440Q 37694     Jan Louthan         20170606              silver
13  R4J4S 13703     Lien Yasin          20170414              gold
14  K055L 60785     Latisha Larzazs     20170503              regular
15  338FV 66842     Susanne Dubicki     20170719              gold
16  401Y4 80191     Gary Hanohano       20170627              regular
17  DEQP8 19108     Dwight Roussel      20180108              regular
18  N7F6U 52425     Nick Delage         20170709              silver
19  Z7Y82 31477     Rigoberto Hartgrave 20170817              silver
20  THJ81 12344     Thaddeus Modin      20170616              regular
21  51SWX 92075     Keshia Llanet       20170812              regular
22  4TZ45 61663     Bebe Heilmann       20180417              silver
23  5Y85X 45746     Frederic Borsellino 20170803              regular
24  2Q45D 47693     Owen Caston         20170102              silver
25  E43E8 96742     Christian Hogue     20171014              silver
26  TXNSC 18044     Roberto Slot        20170510              silver
27  1G2F7 90543     Roger Bowling       20170511              silver
28  0862D 62171     Johana Dayer        20170612              gold
29  1G205 31411     Toshia Sininger     20170125              silver
30  6071T 85645     Bea Fadei           20180223              gold
⋮   ⋮     ⋮         ⋮                   ⋮                     ⋮
155 48Z38 49550     Tomas Baisley       20170203              silver
156 F3U8A 46617     Vanna Castillanos   20171105              gold
157 NF4S2 15581     Simon Weisenberg    20180426              gold
158 3JP0X 91432     Herschel Deltora    20170131              silver
159 3BRSC 19948     Taylor Skyes        20180314              gold
160 RMX31 99277     Pia Ruthenberg      20171129              silver
161 58636 62536     Harvey Jennkie      20180325              gold
162 NB387 21200     Molly Dolin         20180206              gold
163 J4ML1 48466     Jarred Newenle      20170424              regular
164 MN1KI 43801     Art Kunsman         20180118              silver
165 GE5Q8 92736     Carmen Dimick       20170618              gold
166 ALP65 46423     Angel Diachenko     20170717              regular
167 0T622 98782     Sarina Overpeck     20171109              gold
168 8VM1U 70172     Kurt Laplante       20170524              silver
169 5SPT1 63130     Abe Morefield       20171007              regular
170 3S8Z0 12049     Honey Erbentraut    20171123              regular
171 BL3KC 24033     Collene Gulde       20170913              gold
172 36646 89559     Titus Ruan          20180203              regular
173 CGQ1A 99037     Adrienne Fleishman  20170718              regular
174 4SC0G 92824     Kennith Splett      20170731              silver
175 4MK73 87882     Bernard Hardgrove   20170427              regular
176 82OO1 83144     Grant Saurel        20170202              silver
177 2111X 36646     Arlie Braig         20170315              silver
178 11ZAK 12107     Agatha Seddon       20170628              regular
179 HM6U8 50106     Edgar Bamba         20170128              silver
180 2V137 41693     Wendell Dulany      20171219              silver
181 4KB72 79110     Emile Hege          20170522              regular
182 48Z7A 28819     Joe Germuska        20160305              gold
183 48Z55 67318     Jeremy Bowers       20160101              gold
184 90081 16371     Annabel Miller      20160208              gold

     ssn       annual_income
1    100009868  52200
2    100169584  64500
3    100300433  74400
4    100355733  35900
5    100366269  73000
6    100593316  16100
7    100626193  10800
8    100739881  53800
9    100749089  61200
10   100958115  51200
11   100963372  49200
12   101173464  78000
13   101223138  64900
14   101325996  79900
15   101327504  88400
16   101469870  37400
17   101746841  19700
18   101776262  41000
19   102088059  13300
20   102143518  21500
21   102283594  11300
22   102449982  67400
23   102491708  51200
24   102496854  14800
25   102503205 324800
26   102565325  37400
27   102629149  22100
28   102772052  20600
29   102815882  61900
30   102935636  58800
⋮    ⋮         ⋮
7485 996669752 34700
7486 996696612 72700
7487 996897275 13200
7488 997091260 85400
7489 997320380 18100
7490 997329049 82200
7491 997458321 51200
7492 997633324 28000
7493 997909440 12400
7494 997930032 11500
7495 998058802 89800
7496 998071341 27300
7497 998231561 40200
7498 998252462 48700
7499 998323983 40800
7500 998429601 82700
7501 998724874 32000
7502 998755265 80900
7503 998774886 31000
7504 998954933 28400
7505 998970616 71200
7506 999045282 33700
7507 999315977 38400
7508 999448730 69800
7509 999610697 51400
7510 999679296 54400
7511 999762859 77000
7512 999824984 82000
7513 999910617 82600
7514 999942603 11500

     person_id
1    28508
2    63713
3    86208
4    35267
5    33856
6    82799
7    66493
8    46263
9    54263
10   62764
11   54206
12   63126
13   34615
14   10007
15   96520
16   33355
17   41899
18   84695
19   36487
20   96956
21   13759
22   74158
23   21408
24   57234
25   61749
26   98581
27   17543
28   22036
29   18970
30   76489
⋮    ⋮
4962 17621
4963 63432
4964 47697
4965 47474
4966 20988
4967 93442
4968 78170
4969 89706
4970 77774
4971 55716
4972 47549
4973 54954
4974 57160
4975 30936
4976 81065
4977 93766
4978 36345
4979 52015
4980 48272
4981 22319
4982 75944
4983 41577
4984 99047
4985 96264
4986 74729
4987 37357
4988 10206
4989 14887
4990 16371
4991 67318
     transcript
1    ‘I deny it!’ said the March Hare.\n
2    \n
3    way, and the whole party swam to the shore.\n
4    lessons in here? Why, there’s hardly room for YOU, and no room at all\n
5    \n
6    \n
7    would be offended again.\n
8    ‘So he did, so he did,’ said the Gryphon, sighing in his turn; and both\n
9    very glad that it was over at last: ‘and I do so like that curious song\n
10   come to the end: then stop.’\n
11   \n
12   down on one knee. ‘I’m a poor man, your Majesty,’ he began.\n
13   \n
14   CHAPTER IV. The Rabbit Sends in a Little Bill\n
15            YOU.--Come,\n
16   were nowhere to be found: all she could see, when she looked down, was\n
17   ‘Anything you like,’ said the Footman, and began whistling.\n
18   and crept a little way out of the wood to listen.\n
19   \n
20   \n
21   ‘You couldn’t have wanted it much,’ said Alice; ‘living at the bottom of\n
22      ‘I speak severely to my boy,\n
23   picking the daisies, when suddenly a White Rabbit with pink eyes ran\n
24   ‘Cheshire Puss,’ she began, rather timidly, as she did not at all know\n
25   snappishly. ‘You’re enough to try the patience of an oyster!’\n
26        ‘How doth the little crocodile\n
27   know.’\n
28   First came ten soldiers carrying clubs; these were all shaped like\n
29        ‘How doth the little crocodile\n
30   began picking them up again as quickly as she could, for the accident of\n
⋮    ⋮
4962    ‘They told me you had been to her,\n
4963 The moment Alice appeared, she was appealed to by all three to settle\n
4964 Mouse heard this, it turned round and swam slowly back to her: its\n
4965 that it made Alice quite hungry to look at them--‘I wish they’d get the\n
4966 she fell past it.\n
4967 ‘You couldn’t have wanted it much,’ said Alice; ‘living at the bottom of\n
4968    And the muscular strength, which it gave to my jaw,\n
4969 \n
4970 she waited patiently.\n
4971 you ARE a simpleton.’\n
4972  (In which the cook and the baby joined):--\n
4973 \n
4974 ‘Thank you, it’s a very interesting dance to watch,’ said Alice, feeling\n
4975 would, in the after-time, be herself a grown woman; and how she would\n
4976 doesn’t suit my throat!’ and a Canary called out in a trembling voice to\n
4977 But at any rate he might answer questions.--How am I to get in?’ she\n
4978 \n
4979 your pocket?’ he went on, turning to Alice.\n
4980 sat down and cried.\n
4981 procession, came THE KING AND QUEEN OF HEARTS.\n
4982 she heard the Rabbit just under the window, she suddenly spread out her\n
4983 \n
4984     For anything tougher than suet;\n
4985 little creature, and held out its arms and legs in all directions, ‘just\n
4986 (Dinah was the cat.) ‘I hope they’ll remember her saucer of milk at\n
4987 Alice did not wish to offend the Dormouse again, so she began very\n
4988 time,’ she said, ‘than waste it in asking riddles that have no answers.’\n
4989 I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".
4990 I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.
4991 I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n

      id    name                license_id address_number
1     10000 Christoper Peteuil  993845      624
2     10007 Kourtney Calderwood 861794     2791
3     10010 Muoi Cary           385336      741
4     10016 Era Moselle         431897     1987
5     10025 Trena Hornby        550890      276
6     10027 Antione Godbolt     439509     2431
7     10034 Kyra Buen           920494     1873
8     10039 Francesco Agundez   278151      736
9     10095 Leslie Thate        729987     2772
10    10122 Alva Conkel         779002      116
11    10126 Denver Barness      791807     1232
12    10127 Yessenia Fossen     449378     3087
13    10141 Brittney Garfield   627292     2303
14    10145 Adolfo Milbury      556561     2261
15    10152 Shanita Grigaliunas 206023     3056
16    10155 Cory Rodriquz       469214     2024
17    10158 Sandy Braim         492507     1844
18    10168 Alyssa Wacaster     113356      675
19    10187 Candra Laguardia    787365     2839
20    10193 Everett Flasher     173984     1994
21    10195 Ted Denfip          943723     2030
22    10205 Harley Dearmore     566616     3701
23    10206 Dominique Kelcourse 234066     1592
24    10218 Tawnya Soenksen     606928      373
25    10219 Lynette Gehrlein    741585      993
26    10224 Dayna Hamiter       949130     3172
27    10233 Alysha Laba         573935     1036
28    10236 Rogelio Gundersen   348809       75
29    10239 Vern Knochel        634998     1114
30    10242 Rogelio Trullinger  573427     1462
⋮     ⋮     ⋮                   ⋮          ⋮
9982  99673 Idalia Warsham      124154     2394
9983  99675 Jenny Forbess       735368     1165
9984  99677 Thea Leeks          868709     2106
9985  99704 Deon Jex            363197     2275
9986  99716 Miranda Priestly    202298     1883
9987  99721 Lucy Kunis          575724     2498
9988  99724 Joane Ealey         267972     3692
9989  99743 Ashely Katoh        780241      907
9990  99746 Tarra Charron       705781     2712
9991  99799 Michal Duenez       781215     2982
9992  99826 Ivy Kazarian        994470      892
9993  99835 Kurt Leota          298866     3701
9994  99840 Hattie Hertel       616502     2614
9995  99843 Jacob Alegar        425852      547
9996  99858 Modesto Inniss      550509     3963
9997  99862 Sadye Seiger        175952     1082
9998  99866 Colene Newland      416989     2671
9999  99875 Kirk Samperi        301758     1609
10000 99888 Edwardo Dicamillo   185669     3759
10001 99903 Cecily Guiterez     178719      287
10002 99908 Letha Phelts        962384     1610
10003 99911 Zachary Vosburg     827596     1378
10004 99924 Palmer Servano      575091     3825
10005 99928 Jade Gardenas       369208      205
10006 99934 Cherish Aspell      901599      826
10007 99936 Luba Benser         274427      680
10008 99941 Roxana Mckimley     975942     1613
10009 99965 Cherie Zeimantz     287627     3661
10010 99982 Allen Cruse         251350     3126
10011 99990 Vance Hunten        830407     3056
      address_street_name      ssn
1     Bankhall Ave             747714076
2     Gustavus Blvd            477972044
3     Northwestern Dr          828638512
4     Wood Glade St            614621061
5     Daws Hill Way            223877684
6     Zelham Dr                491650087
7     Sleigh Dr                332497972
8     Buswell Dr               861079251
9     Camellia Park Circle     127944356
10    Diversey Circle          148521773
11    Via Escuela Rd           923716908
12    Ash St                   314282107
13    E Glen Park Ave          914555313
14    S Burr Blvd              883502067
15    Tarada St                659203754
16    Montgomery Rd            689152589
17    Gigi Blvd                526308262
18    El Sanjon Dr             629860541
19    Trevelyan Ave            838427748
20    Redstart Dr              133690837
21    Hermit Ranch Way         498865878
22    Deercliff Circle         114085010
23    South Baybrook Blvd      216059344
24    N Althea Ave             233535179
25    Nashenden Farm Rd        749273979
26    Glencoe Blvd             127711530
27    Pala Ave                 728297848
28    West Oakdale Rd          826552633
29    Beach Ave                893802962
30    Sherando Way             789152518
⋮     ⋮                        ⋮
9982  Stager Rd                373197943
9983  Risinghill Dr            879942304
9984  Wynstone Way             456105494
9985  Occoquan Way             788699455
9986  Golden Ave               987756388
9987  Laurelei Circle          630058899
9988  Altamara Circle          134385777
9989  Omer Rd                  794594632
9990  Kaslo Blvd               897546488
9991  Kimbark St               298431151
9992  Northwestern Dr          208359813
9993  Fairbottom Circle        576909574
9994  Father Hurley Rd         941631255
9995  Seaborough St            710561877
9996  Grace Estates Ave        397201128
9997  Earsby Way               131641821
9998  Danley St                502452046
9999  Ivylea Way               910313871
10000 Riddlesdown Blvd         691645702
10001 Harlesden  Manor Park Dr 100963372
10002 Tiburon Blvd             159537641
10003 Barnheisel St            396842321
10004 Fair Elms Rd             241576296
10005 Rockgate Circle          568747254
10006 Duckmead Rd              176096414
10007 Carnage Blvd             685095054
10008 Gate St                  512136801
10009 The Water Ave            362877324
10010 N Jean Dr                348734531
10011 Lancefield St            896677562

     user value

In [124]:
#What are the column names for each table? What table will help us get to the next clue?
print("crime_scene_report") 
dbListFields(db, 'crime_scene_report')

print("drivers_license") 
dbListFields(db, 'drivers_license')

print("Facebook_event_checkin") 
dbListFields(db, 'Facebook_event_checkin')

print("get_fit_now_check_in") 
dbListFields(db, 'get_fit_now_check_in')

print("get_fit_now_member") 
dbListFields(db, 'get_fit_now_member')

print("income") 
dbListFields(db, 'income')

print("interview") 
dbListFields(db, 'interview')

print("person") 
dbListFields(db, 'person')

print("solution") 
dbListFields(db, 'solution')

[1] "crime_scene_report"

[1] "date"        "type"        "description" "city"

[1] "drivers_license"

[1] "id"           "age"          "height"       "eye_color"    "hair_color"
[6] "gender"       "plate_number" "car_make"     "car_model"

[1] "Facebook_event_checkin"

[1] "person_id"  "event_id"   "event_name" "date"

[1] "get_fit_now_check_in"

[1] "membership_id"  "check_in_date"  "check_in_time"  "check_out_time"

[1] "get_fit_now_member"

[1] "id"                    "person_id"             "name"
[4] "membership_start_date" "membership_status"

[1] "income"

[1] "ssn"           "annual_income"

[1] "interview"

[1] "person_id"  "transcript"

[1] "person"

[1] "id"                  "name"                "license_id"
[4] "address_number"      "address_street_name" "ssn"

[1] "solution"

[1] "user"  "value"

Practice using commmands useful in queries:

In [34]:
#Example: 
#Select all records from the table crime_scene_report where type is murder:
practice <- dbSendQuery(db, "SELECT * 
                        FROM crime_scene_report
                        WHERE type='murder'
                        ")
dbFetch(practice)

    date     type
1   20180115 murder
2   20180115 murder
3   20180215 murder
4   20180215 murder
5   20170107 murder
6   20170108 murder
7   20170108 murder
8   20170111 murder
9   20170121 murder
10  20170122 murder
11  20170124 murder
12  20170124 murder
13  20170125 murder
14  20170207 murder
15  20170220 murder
16  20170220 murder
17  20170221 murder
18  20170225 murder
19  20170227 murder
20  20170302 murder
21  20170304 murder
22  20170308 murder
23  20170322 murder
24  20170325 murder
25  20170326 murder
26  20170328 murder
27  20170329 murder
28  20170330 murder
29  20170401 murder
30  20170403 murder
⋮   ⋮        ⋮
119 20180201 murder
120 20180203 murder
121 20180209 murder
122 20180209 murder
123 20180214 murder
124 20180214 murder
125 20180215 murder
126 20180225 murder
127 20180227 murder
128 20180302 murder
129 20180311 murder
130 20180314 murder
131 20180316 murder
132 20180316 murder
133 20180318 murder
134 20180319 murder
135 20180325 murder
136 20180329 murder
137 20180329 murder
138 20180330 murder
139 20180410 murder
140 20180413 murder
141 20180414 murder
142 20180415 murder
143 20180417 murder
144 20180427 murder
145 20180428 murder
146 20180429 murder
147 20180430 murder
148 20180115 murder
    description
1   Life? Dont talk to me about life.
2   Mama, I killed a man, put a gun against his head...
3   REDACTED REDACTED REDACTED
4   Someone killed the guard! He took an arrow to the knee!
5   ‘It proves nothing of the sort!’ said Alice. ‘Why, you don’t even know\n
6   get” is the same thing as “I get what I like”!’\n
7          HEARTHRUG,\n
8   \n
9   her, to pass away the time.\n
10  came near her, she began, in a low, timid voice, ‘If you please, sir--’\n
11  about something, my dear, and that makes you forget to talk. I can’t\n
12  \n
13  age knew the meaning of it at all. However, ‘jury-men’ would have done\n
14  \n
15  \n
16  knocking, and hurried upstairs, in great fear lest she should meet the\n
17  ‘I HAVE tasted eggs, certainly,’ said Alice, who was a very truthful\n
18  \n
19  name like an honest man.’\n
20  with the words ‘DRINK ME,’ but nevertheless she uncorked it and put it\n
21  \n
22  ground as she spoke; ‘either you or your head must be off, and that in\n
23  ‘Yes,’ said Alice doubtfully: ‘it means--to--make--anything--prettier.’\n
24   “You can really have no notion how delightful it will be\n
25  \n
26  the poor animal’s feelings. ‘I quite forgot you didn’t like cats.’\n
27  had got so much into the way of expecting nothing but out-of-the-way\n
28  ‘I don’t know where Dinn may be,’ said the Mock Turtle, ‘but if you’ve\n
29  it all seemed quite natural); but when the Rabbit actually TOOK A WATCH\n
30  \n
⋮   ⋮
119 hookah into its mouth and began smoking again.\n
120 \n
121 ‘Then the words don’t FIT you,’ said the King, looking round the court\n
122 \n
123 \n
124 \n
125 The baby grunted again, and Alice looked very anxiously into its face to\n
126 \n
127      Beau--ootiful Soo--oop!\n
128 ‘Shall we try another figure of the Lobster Quadrille?’ the Gryphon went\n
129 \n
130 tone, ‘I’m afraid I’ve offended it again!’ For the Mouse was swimming\n
131 \n
132 \n
133 \n
134 away. ‘You insult me by talking such nonsense!’\n
135 ‘You’ll see me there,’ said the Cat, and vanished.\n
136    Waiting in a hot tureen!\n
137 bats eat cats?’ for, you see, as she couldn’t answer either question,\n
138 was not a VERY good opportunity for showing off her knowledge, as there\n
139 leaves: ‘I should have liked teaching it tricks very much, if--if I’d\n
140 \n
141 ‘--so long as I get SOMEWHERE,’ Alice added as an explanation.\n
142 \n
143 aloud; and in another moment it was out of sight.\n
144 ‘Only a thimble,’ said Alice sadly.\n
145 wag my tail when I’m angry. Therefore I’m mad.’\n
146 (she was obliged to say ‘creatures,’ you see, because some of them were\n
147 ‘But what am I to do?’ said Alice.\n
148 Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".
    city
1   Albany
2   Reno
3   SQL City
4   SQL City
5   Memphis
6   Round Lake Beach
7   Jacksonville
8   Springdale
9   Murfreesboro
10  Temecula
11  Santa Clarita
12  Waterbury
13  Laredo
14  Amarillo
15  Colorado Springs
16  Madison
17  Chandler
18  Ontario
19  Manchester
20  Mobile
21  Thousand Oaks
22  Bonita Springs
23  Syracuse
24  Denver
25  Evansville
26  Louisville
27  Grand Rapids
28  Paterson
29  North Charleston
30  Indianapolis
⋮   ⋮
119 North Port
120 Normal
121 Kalamazoo
122 Boise
123 Gilbert
124 Scottsdale
125 Lexington
126 Pompano Beach
127 Visalia
128 Bel Air
129 Winter Haven
130 Baltimore
131 Naples
132 Tampa
133 Austin
134 Fort Collins
135 Lake Charles
136 Duluth
137 Odessa
138 Oceanside
139 Lorain
140 New Orleans
141 Davidson County
142 Kansas City
143 Winter Haven
144 St. Petersburg
145 Appleton
146 Toledo
147 Spokane
148 SQL City

In [35]:
#Select all records from the table drivers_license where the eye color is amber:
practice2 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE eye_color='amber'
                        ")
dbFetch(practice2)

Warning message:
“Closing open result set, pending rows”

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101586 57  70     amber     brown      male   31U1KE       Jaguar
3    101640 87  67     amber     black      male   3U18J6       Volvo
4    101773 55  57     amber     black      female VK5SOO       Chevrolet
5    101782 57  61     amber     green      female 0LX0QI       Toyota
6    101909 84  52     amber     brown      male   5Y633C       Ford
7    103197 38  73     amber     red        female 273D0J       Saab
8    103417 63  54     amber     white      male   12LBWW       Ford
9    106226 49  70     amber     blonde     female 2P1B3P       Mazda
10   106354 61  60     amber     grey       female 7P62RU       BMW
11   107014 70  71     amber     white      female FSV573       Mercedes-Benz
12   107867 48  50     amber     blue       male   FK47DF       Chevrolet
13   109100 70  64     amber     blue       male   8MRTMS       Chevrolet
14   109317 62  59     amber     blonde     male   EWP01K       Saturn
15   110047 54  82     amber     blue       male   U22R1T       BMW
16   110991 25  59     amber     black      male   75Q187       Chevrolet
17   111120 79  66     amber     white      female R272NI       Aston Martin
18   111327 47  69     amber     blue       male   2SV878       Land Rover
19   111403 31  66     amber     black      male   UW56PM       Jeep
20   112548 76  64     amber     blonde     female Q87DM7       Acura
21   112994 36  62     amber     black      male   12W3JK       Dodge
22   113523 37  74     amber     black      female 5352M7       Mazda
23   114723 69  57     amber     red        female 1F883V       HUMMER
24   115180 83  53     amber     red        male   R202IE       Pontiac
25   116374 59  71     amber     brown      female Y0U2TM       Dodge
26   116393 57  79     amber     red        female 2512O1       Chevrolet
27   116885 46  71     amber     black      male   WM6IZ4       Pontiac
28   117138 74  69     amber     green      male   63TQVD       Chevrolet
29   117514 39  52     amber     red        male   IU6H80       Toyota
30   118484 57  82     amber     blue       male   H746K7       Land Rover
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
1918 988055 86  75     amber     white      female 52BT58       Dodge
1919 988489 72  70     amber     green      male   25IVRF       Ford
1920 988768 44  78     amber     blonde     male   76M0WF       Hyundai
1921 988821 68  67     amber     brown      male   84I5ZH       Saturn
1922 989414 79  56     amber     blonde     male   E31J27       Mitsubishi
1923 990210 46  50     amber     grey       male   8M2ZI6       Dodge
1924 990260 56  57     amber     blonde     female 80KUI4       Mazda
1925 990554 40  63     amber     white      male   XH2QC0       Chrysler
1926 990991 20  68     amber     black      female 21N42F       Jaguar
1927 992091 47  63     amber     blue       female 0Y0N7W       Dodge
1928 992138 47  77     amber     red        male   AYYUK7       Nissan
1929 992155 59  70     amber     white      female UP5Z88       Chrysler
1930 992778 30  55     amber     blue       female 0X446Z       Hummer
1931 993345 82  56     amber     blonde     female D88D3H       GMC
1932 993748 44  66     amber     red        female GONCC5       Honda
1933 994470 84  53     amber     blue       female K316N0       Aston Martin
1934 995020 54  52     amber     black      female ZI4PY8       Mazda
1935 995922 77  60     amber     blue       female IS2LA5       Ford
1936 996490 83  78     amber     green      male   SGM1F3       Mercedes-Benz
1937 997251 27  79     amber     green      female A5A658       Volkswagen
1938 997283 50  82     amber     blue       male   NOTT82       Ford
1939 997610 35  68     amber     white      male   N72K7G       Dodge
1940 998079 35  77     amber     blonde     male   00X535       Honda
1941 998157 61  54     amber     black      male   105077       BMW
1942 998237 39  65     amber     black      male   V13Y51       Acura
1943 998262 36  54     amber     black      female 5T8618       Lexus
1944 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
1945 998741 60  62     amber     blue       female 886XH6       Honda
1946 999509 42  80     amber     blue       female 8E403S       Morgan
1947 999923 19  77     amber     black      female 5L0ZI4       GMC
     car_model
1    Rogue
2    XK
3    S60
4    Express 1500
5    Matrix
6    E-Series
7    9-7X
8    F-Series Super Duty
9    Mazdaspeed 3
10   760
11   C-Class
12   Monte Carlo
13   Cavalier
14   Aura
15   5 Series
16   Classic
17   DBS
18   LR3
19   Compass
20   MDX
21   Ram
22   Tribute
23   H3
24   GTO
25   Ram
26   Astro
27   Bonneville
28   Express 3500
29   Camry Hybrid
30   Freelander
⋮    ⋮
1918 Challenger
1919 Freestyle
1920 Tiburon
1921 L-Series
1922 Endeavor
1923 Ram
1924 CX-9
1925 Town & Country
1926 XK Series
1927 Ram 3500
1928 350Z
1929 Prowler
1930 H3
1931 Savana
1932 Fit
1933 V8 Vantage S
1934 Mazda5
1935 Taurus
1936 SL-Class
1937 Jetta
1938 Explorer
1939 Neon
1940 Accord Crosstour
1941 650
1942 NSX
1943 SC
1944 Lancer
1945 Insight
1946 Aero 8
1947 Sierra 3500

In [36]:
#Select distinct records of eye_color from the table drivers_license:
practice3 <- dbSendQuery(db, "SELECT DISTINCT eye_color
                        FROM drivers_license
                        ")
#dbFetch(practice3)

Warning message:
“Closing open result set, pending rows”

In [37]:
#Select distinct records of name from the table person:
practice4 <-  dbSendQuery(db, "SELECT DISTINCT name
                        FROM person
                        ")
#dbFetch(practice4)

Warning message:
“Closing open result set, pending rows”

In [38]:
#Select distinct records of gender AND car_model from the table drivers_license:
practice5 <- dbSendQuery(db, "SELECT DISTINCT gender AND car_model
                        FROM drivers_license
                        ")
#dbFetch(practice5)

Warning message:
“Closing open result set, pending rows”

In [39]:
#Select distinct records of type and city from the table crime_scene_report:
practice6 <- dbSendQuery(db, "SELECT DISTINCT type AND city
                        FROM crime_scene_report
                        ")
dbFetch(practice6)

Warning message:
“Closing open result set, pending rows”

  type AND city
1 0

In [40]:
#Select all records from table drivers_license where the age is == 48:
practice7 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age == 48
                        ")
dbFetch(practice7)

Warning message:
“Closing open result set, pending rows”

    id     age height eye_color hair_color gender plate_number car_make
1   101494 48  55     blue      red        female 81X1N7       Kia
2   105188 48  80     blue      black      male   R4Z3OC       Land Rover
3   107867 48  50     amber     blue       male   FK47DF       Chevrolet
4   117726 48  70     brown     red        male   7JUJCY       Honda
5   124854 48  60     blue      grey       female RH14TP       Bentley
6   126842 48  81     black     blonde     male   36Y8B2       Mercury
7   128963 48  58     black     blue       male   4OXLFT       Chevrolet
8   145861 48  52     green     black      male   3FCC44       Jaguar
9   146075 48  72     amber     brown      male   Q3EJ3J       Mercury
10  153375 48  52     blue      white      female QB312N       Honda
11  156265 48  78     amber     grey       female 611C13       GMC
12  156703 48  82     blue      brown      female HGP051       GMC
13  165928 48  66     brown     blue       female LXQ240       Volkswagen
14  171971 48  71     brown     blue       female P85YY2       Subaru
15  178229 48  64     amber     blonde     male   D60661       Jeep
16  188173 48  67     black     brown      female UIMN3Y       Nissan
17  189336 48  58     amber     green      female 1H2QPA       Nissan
18  206586 48  62     blue      blue       female 0I7BJZ       Porsche
19  232814 48  57     brown     blue       female 6617MV       Cadillac
20  233201 48  64     black     green      male   GU1Y31       Subaru
21  243406 48  62     brown     red        male   SNO645       Buick
22  251947 48  73     black     brown      female 63N13A       Chevrolet
23  263855 48  67     blue      blonde     male   050244       Chevrolet
24  271124 48  52     blue      blue       female X64L58       Mercedes-Benz
25  282712 48  58     blue      black      female 71XY33       Nissan
26  299836 48  63     green     grey       female 3ZF03W       Infiniti
27  301876 48  58     brown     green      female S1F47M       Nissan
28  301996 48  59     green     red        female 81CZ54       Nissan
29  325368 48  51     black     red        female 363N5H       Infiniti
30  325685 48  58     brown     blonde     male   FZY1IV       Ford
⋮   ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
99  796792 48  50     black     white      female V7Z64W       Pontiac
100 803372 48  53     blue      blue       male   Y405P5       Audi
101 808317 48  68     black     black      female H5R4X6       GMC
102 808745 48  74     amber     black      male   5ZWZB1       Suzuki
103 813883 48  50     brown     brown      male   56HP3G       Acura
104 814103 48  80     green     green      male   0553BS       Honda
105 824741 48  52     amber     black      female 8IR2Q7       Saab
106 847504 48  50     black     black      male   QMXQFE       Chevrolet
107 855670 48  56     amber     brown      female 02W0K6       Aston Martin
108 855963 48  54     blue      black      female 0R6SN0       BMW
109 861744 48  55     green     green      male   T7230G       Mazda
110 869336 48  75     blue      brown      male   M0WV8T       Saab
111 875882 48  64     brown     red        male   7YQXE1       Jeep
112 876520 48  71     amber     brown      male   6L5F12       Dodge
113 903431 48  67     black     blonde     male   YF1TQJ       Volvo
114 911727 48  76     green     grey       female 80481Y       Pontiac
115 918773 48  65     black     red        female 917UU3       Tesla
116 927494 48  82     amber     green      male   81104V       Acura
117 931228 48  78     brown     brown      female 1W2QXC       Ford
118 934283 48  68     blue      green      male   T8W6D1       Dodge
119 950762 48  70     green     green      male   3T0851       Rolls-Royce
120 951621 48  69     blue      grey       male   QWG8AW       Volvo
121 955889 48  57     amber     brown      male   8KT2A4       Nissan
122 956755 48  77     amber     green      female Q0SJVO       Jeep
123 965397 48  68     blue      black      female 1G788A       GMC
124 968887 48  64     brown     red        male   SB7H43       Honda
125 969472 48  51     amber     grey       female 4K4JNI       Lexus
126 970725 48  54     amber     blue       female A3P5ZJ       Audi
127 981392 48  63     green     grey       male   Z0137N       Mazda
128 998476 48  72     black     blue       female YC22H2       Cadillac
    car_model
1   Sportage
2   Range Rover Sport
3   Monte Carlo
4   Civic
5   Continental Flying Spur
6   Sable
7   Express 3500
8   XK Series
9   Grand Marquis
10  Odyssey
11  Sierra 1500
12  Sierra 2500
13  Golf
14  Legacy
15  Grand Cherokee
16  Maxima
17  Sentra
18  911
19  SRX
20  Legacy
21  Enclave
22  Express
23  Malibu
24  R-Class
25  Xterra
26  G
27  350Z
28  Versa
29  EX
30  Explorer
⋮   ⋮
99  G6
100 Q5
101 Sierra 3500
102 Daewoo Lacetti
103 RSX
104 Fit
105 9-7X
106 Silverado 1500
107 DBS
108 530
109 Tribute
110 9-3
111 Patriot
112 Neon
113 S40
114 Solstice
115 Model S
116 Integra
117 Taurus
118 Viper
119 Phantom
120 C70
121 Pathfinder
122 Grand Cherokee
123 Savana 1500
124 Ridgeline
125 ES
126 A6
127 MX-5
128 CTS

In [41]:
#Select all records from table drivers_license where the age is less than 48:
practice8 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age < 48
                        ")
dbFetch(practice8)

Warning message:
“Closing open result set, pending rows”

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101255 18  79     blue      grey       female 5162Z1       Lexus
3    101611 40  65     blue      white      female 5O8VW7       GMC
4    101859 31  71     blue      blonde     female 02B7L4       Nissan
5    101862 26  75     green     blonde     male   LQ23Y5       Nissan
6    102307 28  74     black     green      female 30A1X3       Dodge
7    102355 29  67     blue      blonde     male   7K625Q       Ford
8    102536 21  76     blue      blonde     male   3DG322       Suzuki
9    102710 31  63     black     blonde     female 0UNSTD       Buick
10   102844 30  62     blue      blue       male   471TX3       Chevrolet
11   103138 37  65     brown     blonde     male   T6TV0T       Ford
12   103197 38  73     amber     red        female 273D0J       Saab
13   103260 22  59     brown     blonde     female G67F83       Ford
14   103725 40  57     black     green      female 81WZ22       Land Rover
15   103838 46  81     black     blue       female 5SACV2       Mercedes-Benz
16   104476 31  69     brown     black      female 625W28       GMC
17   104732 47  68     black     blonde     female FHX41Z       Volvo
18   105064 20  53     black     blue       male   25UO1B       Mercedes-Benz
19   105435 45  57     black     green      male   Q54862       Mitsubishi
20   105508 26  71     green     white      female H73WE4       GMC
21   105678 27  76     brown     black      female ASNL05       Oldsmobile
22   106921 26  78     black     white      female 75YNFS       Volvo
23   107435 24  74     green     red        female 57JV7G       Jeep
24   107985 29  57     black     green      male   QQP4HL       Mazda
25   108077 26  69     brown     brown      female LXD1AM       Mercedes-Benz
26   108374 18  63     brown     red        male   X2KE6N       Ford
27   108832 41  81     green     blue       male   F4B836       Mitsubishi
28   109238 35  76     brown     brown      female O771Z2       Ford
29   109249 47  62     blue      grey       male   6D4J60       Subaru
30   109596 30  75     brown     red        female 861GR4       Ford
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
4251 992923 20  77     black     brown      female GT0EX0       MINI
4252 992954 40  53     black     blonde     female 1QX3S8       Lexus
4253 993030 26  76     black     blue       male   LQYOU4       Kia
4254 993492 35  61     brown     white      male   4F770H       Hyundai
4255 993550 25  63     green     brown      male   08BEC0       Chevrolet
4256 993613 34  56     brown     green      female YL0MD2       Chevrolet
4257 993703 35  77     blue      brown      male   0SD4VG       Buick
4258 993748 44  66     amber     red        female GONCC5       Honda
4259 993845 46  59     black     green      male   557472       Chrysler
4260 994074 25  62     brown     grey       female 5OQ074       Suzuki
4261 995344 33  69     blue      green      male   N63WI3       Kia
4262 995406 32  69     brown     white      male   KJ7211       Volvo
4263 996059 26  53     blue      blue       male   4T6I25       Land Rover
4264 996155 41  74     black     white      female 703200       Hyundai
4265 996454 34  76     blue      green      male   528217       GMC
4266 996996 20  56     black     green      female 5Y0W6U       Maserati
4267 997251 27  79     amber     green      female A5A658       Volkswagen
4268 997554 35  50     brown     white      male   27M0VW       Hyundai
4269 997586 39  64     brown     grey       female DZTE7O       Cadillac
4270 997610 35  68     amber     white      male   N72K7G       Dodge
4271 997703 23  51     brown     white      male   5G60IA       Hyundai
4272 997909 26  77     black     blue       female VJM87S       Mazda
4273 998079 35  77     amber     blonde     male   00X535       Honda
4274 998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
4275 998237 39  65     amber     black      male   V13Y51       Acura
4276 998262 36  54     amber     black      female 5T8618       Lexus
4277 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
4278 999509 42  80     amber     blue       female 8E403S       Morgan
4279 999923 19  77     amber     black      female 5L0ZI4       GMC
4280 999993 18  63     black     black      female 6UZO2O       Cadillac
     car_model
1    Rogue
2    GS
3    Sierra Denali
4    Pathfinder
5    350Z
6    Ram Van 3500
7    F350
8    Grand Vitara
9    Regal
10   Trailblazer
11   Focus
12   9-7X
13   E250
14   Freelander
15   S-Class
16   Envoy
17   XC90
18   SL-Class
19   Montero
20   Sierra 2500
21   Silhouette
22   V70
23   Grand Cherokee
24   CX-9
25   M-Class
26   Escape
27   Pajero
28   F150
29   Forester
30   Thunderbird
⋮    ⋮
4251 Cooper
4252 IS
4253 Sedona
4254 Sonata
4255 Corvette
4256 3500
4257 Lucerne
4258 Fit
4259 Town & Country
4260 XL-7
4261 Sportage
4262 S80
4263 Freelander
4264 HED-5
4265 Savana 3500
4266 Quattroporte
4267 Jetta
4268 Equus
4269 XLR-V
4270 Neon
4271 Santa Fe
4272 Protege
4273 Accord Crosstour
4274 SLK-Class
4275 NSX
4276 SC
4277 Lancer
4278 Aero 8
4279 Sierra 3500
4280 DeVille

In [42]:
#Select all records from table drivers_license where the age is less than OR equal to 48:
#Do you see a difference in the number of rows?
practice8 <- dbSendQuery(db, "SELECT * 
                        FROM drivers_license
                        WHERE age <= 48
                        ")
dbFetch(practice8)

Warning message:
“Closing open result set, pending rows”

     id     age height eye_color hair_color gender plate_number car_make
1    101198 43  54     amber     brown      female Y5NZ08       Nissan
2    101255 18  79     blue      grey       female 5162Z1       Lexus
3    101494 48  55     blue      red        female 81X1N7       Kia
4    101611 40  65     blue      white      female 5O8VW7       GMC
5    101859 31  71     blue      blonde     female 02B7L4       Nissan
6    101862 26  75     green     blonde     male   LQ23Y5       Nissan
7    102307 28  74     black     green      female 30A1X3       Dodge
8    102355 29  67     blue      blonde     male   7K625Q       Ford
9    102536 21  76     blue      blonde     male   3DG322       Suzuki
10   102710 31  63     black     blonde     female 0UNSTD       Buick
11   102844 30  62     blue      blue       male   471TX3       Chevrolet
12   103138 37  65     brown     blonde     male   T6TV0T       Ford
13   103197 38  73     amber     red        female 273D0J       Saab
14   103260 22  59     brown     blonde     female G67F83       Ford
15   103725 40  57     black     green      female 81WZ22       Land Rover
16   103838 46  81     black     blue       female 5SACV2       Mercedes-Benz
17   104476 31  69     brown     black      female 625W28       GMC
18   104732 47  68     black     blonde     female FHX41Z       Volvo
19   105064 20  53     black     blue       male   25UO1B       Mercedes-Benz
20   105188 48  80     blue      black      male   R4Z3OC       Land Rover
21   105435 45  57     black     green      male   Q54862       Mitsubishi
22   105508 26  71     green     white      female H73WE4       GMC
23   105678 27  76     brown     black      female ASNL05       Oldsmobile
24   106921 26  78     black     white      female 75YNFS       Volvo
25   107435 24  74     green     red        female 57JV7G       Jeep
26   107867 48  50     amber     blue       male   FK47DF       Chevrolet
27   107985 29  57     black     green      male   QQP4HL       Mazda
28   108077 26  69     brown     brown      female LXD1AM       Mercedes-Benz
29   108374 18  63     brown     red        male   X2KE6N       Ford
30   108832 41  81     green     blue       male   F4B836       Mitsubishi
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
4379 992954 40  53     black     blonde     female 1QX3S8       Lexus
4380 993030 26  76     black     blue       male   LQYOU4       Kia
4381 993492 35  61     brown     white      male   4F770H       Hyundai
4382 993550 25  63     green     brown      male   08BEC0       Chevrolet
4383 993613 34  56     brown     green      female YL0MD2       Chevrolet
4384 993703 35  77     blue      brown      male   0SD4VG       Buick
4385 993748 44  66     amber     red        female GONCC5       Honda
4386 993845 46  59     black     green      male   557472       Chrysler
4387 994074 25  62     brown     grey       female 5OQ074       Suzuki
4388 995344 33  69     blue      green      male   N63WI3       Kia
4389 995406 32  69     brown     white      male   KJ7211       Volvo
4390 996059 26  53     blue      blue       male   4T6I25       Land Rover
4391 996155 41  74     black     white      female 703200       Hyundai
4392 996454 34  76     blue      green      male   528217       GMC
4393 996996 20  56     black     green      female 5Y0W6U       Maserati
4394 997251 27  79     amber     green      female A5A658       Volkswagen
4395 997554 35  50     brown     white      male   27M0VW       Hyundai
4396 997586 39  64     brown     grey       female DZTE7O       Cadillac
4397 997610 35  68     amber     white      male   N72K7G       Dodge
4398 997703 23  51     brown     white      male   5G60IA       Hyundai
4399 997909 26  77     black     blue       female VJM87S       Mazda
4400 998079 35  77     amber     blonde     male   00X535       Honda
4401 998114 46  50     blue      brown      female I0GI33       Mercedes-Benz
4402 998237 39  65     amber     black      male   V13Y51       Acura
4403 998262 36  54     amber     black      female 5T8618       Lexus
4404 998350 20  78     amber     grey       male   6HRAXP       Mitsubishi
4405 998476 48  72     black     blue       female YC22H2       Cadillac
4406 999509 42  80     amber     blue       female 8E403S       Morgan
4407 999923 19  77     amber     black      female 5L0ZI4       GMC
4408 999993 18  63     black     black      female 6UZO2O       Cadillac
     car_model
1    Rogue
2    GS
3    Sportage
4    Sierra Denali
5    Pathfinder
6    350Z
7    Ram Van 3500
8    F350
9    Grand Vitara
10   Regal
11   Trailblazer
12   Focus
13   9-7X
14   E250
15   Freelander
16   S-Class
17   Envoy
18   XC90
19   SL-Class
20   Range Rover Sport
21   Montero
22   Sierra 2500
23   Silhouette
24   V70
25   Grand Cherokee
26   Monte Carlo
27   CX-9
28   M-Class
29   Escape
30   Pajero
⋮    ⋮
4379 IS
4380 Sedona
4381 Sonata
4382 Corvette
4383 3500
4384 Lucerne
4385 Fit
4386 Town & Country
4387 XL-7
4388 Sportage
4389 S80
4390 Freelander
4391 HED-5
4392 Savana 3500
4393 Quattroporte
4394 Jetta
4395 Equus
4396 XLR-V
4397 Neon
4398 Santa Fe
4399 Protege
4400 Accord Crosstour
4401 SLK-Class
4402 NSX
4403 SC
4404 Lancer
4405 CTS
4406 Aero 8
4407 Sierra 3500
4408 DeVille

In [43]:
#Select all records from table get_fit_now_check_in and order by check_in_date:
#Do you see a difference in the number of rows?
practice9 <- dbSendQuery(db, "SELECT * 
                        FROM get_fit_now_check_in
                       ORDER BY check_in_date
                        ")
dbFetch(practice9)

Warning message:
“Closing open result set, pending rows”

     membership_id check_in_date check_in_time check_out_time
1    82GA2         20170101       431          1116
2    KE0FH         20170101       375           447
3    C84S4         20170101       580           864
4    XTE42         20170101      1188          1199
5    TQU5U         20170101       381          1069
6    J2033         20170101       242           955
7    C581L         20170101        23          1071
8    3JP0X         20170101       154           609
9    355UU         20170102       749           813
10   I827Y         20170102       270           469
11   20U07         20170102       698          1120
12   0EY7M         20170102       618          1190
13   8I2HW         20170102        67           259
14   5VK83         20170103       939          1084
15   3S8Z0         20170103       303           686
16   5Y85X         20170104       951          1019
17   31A6U         20170104       276          1197
18   CZ1H8         20170104       493          1096
19   D8FT1         20170105      1094          1134
20   551F6         20170105       750          1155
21   QSD41         20170105       230          1042
22   R4J4S         20170106        87           945
23   72H2C         20170106       439           621
24   J5IO8         20170106        15          1104
25   TLF67         20170106       523           901
26   X1IYH         20170106       739           827
27   2P828         20170106       136           541
28   2STMK         20170106       900          1003
29   MORMA         20170106       995          1035
30   KE0FH         20170107       645          1107
⋮    ⋮             ⋮             ⋮             ⋮
2674 4JX11         20180427       405           567
2675 W5YVL         20180427       502          1033
2676 48100         20180427       182           483
2677 TQU5U         20180427       607           875
2678 3JP0X         20180427        79          1085
2679 8VM1U         20180427       818           943
2680 1G2F7         20180428      1104          1144
2681 6071T         20180428       670           759
2682 2B01Y         20180428       187           484
2683 ZAB1A         20180428      1050          1157
2684 JQ162         20180428       865          1110
2685 551F6         20180428       337           620
2686 3S8Z0         20180428       620           635
2687 NL318         20180429       506           554
2688 12C5R         20180429       141           882
2689 GHDP5         20180429       964          1002
2690 6K7I8         20180429        74          1032
2691 I827Y         20180429       125           460
2692 C581L         20180429       481           707
2693 133ED         20180430      1197          1200
2694 JQ162         20180430       137           493
2695 FA4N5         20180430       440           718
2696 7A4NF         20180430       860          1143
2697 TD7DF         20180430       379          1104
2698 1YHL3         20180430       963          1094
2699 C581L         20180430        76           642
2700 0U51D         20180501        88           218
2701 7788A         20180501       532           705
2702 VHN8M         20180501       658           989
2703 MORMA         20180501      1029          1183

In [44]:
#Select all records from table get_fit_now_check_in and order by check_in_date and order by check_in_time:
#Do you see a difference in the order of the rows?
practice10 <- dbSendQuery(db, "SELECT * 
                        FROM get_fit_now_check_in
                       ORDER BY check_in_date, check_in_time
                        ")
dbFetch(practice10)

Warning message:
“Closing open result set, pending rows”

     membership_id check_in_date check_in_time check_out_time
1    C581L         20170101        23          1071
2    3JP0X         20170101       154           609
3    J2033         20170101       242           955
4    KE0FH         20170101       375           447
5    TQU5U         20170101       381          1069
6    82GA2         20170101       431          1116
7    C84S4         20170101       580           864
8    XTE42         20170101      1188          1199
9    8I2HW         20170102        67           259
10   I827Y         20170102       270           469
11   0EY7M         20170102       618          1190
12   20U07         20170102       698          1120
13   355UU         20170102       749           813
14   3S8Z0         20170103       303           686
15   5VK83         20170103       939          1084
16   31A6U         20170104       276          1197
17   CZ1H8         20170104       493          1096
18   5Y85X         20170104       951          1019
19   QSD41         20170105       230          1042
20   551F6         20170105       750          1155
21   D8FT1         20170105      1094          1134
22   J5IO8         20170106        15          1104
23   R4J4S         20170106        87           945
24   2P828         20170106       136           541
25   72H2C         20170106       439           621
26   TLF67         20170106       523           901
27   X1IYH         20170106       739           827
28   2STMK         20170106       900          1003
29   MORMA         20170106       995          1035
30   MZQ3U         20170107        38           974
⋮    ⋮             ⋮             ⋮             ⋮
2674 3JP0X         20180427        79          1085
2675 48100         20180427       182           483
2676 4JX11         20180427       405           567
2677 W5YVL         20180427       502          1033
2678 TQU5U         20180427       607           875
2679 8VM1U         20180427       818           943
2680 2B01Y         20180428       187           484
2681 551F6         20180428       337           620
2682 3S8Z0         20180428       620           635
2683 6071T         20180428       670           759
2684 JQ162         20180428       865          1110
2685 ZAB1A         20180428      1050          1157
2686 1G2F7         20180428      1104          1144
2687 6K7I8         20180429        74          1032
2688 I827Y         20180429       125           460
2689 12C5R         20180429       141           882
2690 C581L         20180429       481           707
2691 NL318         20180429       506           554
2692 GHDP5         20180429       964          1002
2693 C581L         20180430        76           642
2694 JQ162         20180430       137           493
2695 TD7DF         20180430       379          1104
2696 FA4N5         20180430       440           718
2697 7A4NF         20180430       860          1143
2698 1YHL3         20180430       963          1094
2699 133ED         20180430      1197          1200
2700 0U51D         20180501        88           218
2701 7788A         20180501       532           705
2702 VHN8M         20180501       658           989
2703 MORMA         20180501      1029          1183

Now that we have practiced, let's solve this murder!

All we know at the start of our investigation is the <b>murder</b> occurred on <b>Jan.15, 2018</b> and that it took place in <b>SQL City<b>.

In [45]:
#Write a query in SQL to view the crime scene report 
#for the murder occurred on Jan.15, 2018 and that it took place in SQL City.
#Select ALL records FROM the table WHERE...
csr <- dbSendQuery(db, "SELECT *
                        FROM crime_scene_report
                        WHERE
                            date = '20180115'
                        AND city = 'SQL City'
                        AND type = 'murder'
                        ")
dbFetch(csr)

Warning message:
“Closing open result set, pending rows”

  date     type
1 20180115 murder
  description
1 Security footage shows that there were 2 witnesses. The first witness lives at the last house on "Northwestern Dr". The second witness, named Annabel, lives somewhere on "Franklin Ave".
  city
1 SQL City

Another clue! It looks like we have two witnesses! Now who are they and how do we find them?

In [47]:
#Write two queries in SQL to find each witness in the person table. 
#For the first query as first_witness, select all the records from person where the address_street_name 
#is Northwestern Drive and order by adress_number
#Fetch the first_witness
first_witness <- dbSendQuery(db, "SELECT * 
                        FROM person
                        WHERE address_street_name = 'Northwestern Dr' 
                        ORDER BY address_number
                        ")
dbFetch(first_witness)

Warning message:
“Closing open result set, pending rows”

   id    name                 license_id address_number address_street_name
1  89906 Kinsey Erickson      510019      309           Northwestern Dr
2  15171 Weldon Penso         336999      311           Northwestern Dr
3  40336 Fredia Billeter      251082      404           Northwestern Dr
4  85280 Donn Duin            569122      540           Northwestern Dr
5  12711 Norman Apolito       667757      599           Northwestern Dr
6  75484 Del Tacderen         447887      607           Northwestern Dr
7  26758 Angelena Billman     942074      629           Northwestern Dr
8  39688 Abe Roeker           537445      689           Northwestern Dr
9  10010 Muoi Cary            385336      741           Northwestern Dr
10 40760 Renata Faver         976650      745           Northwestern Dr
11 25615 Olevia Morena        388477      812           Northwestern Dr
12 99826 Ivy Kazarian         994470      892           Northwestern Dr
13 44542 Ivory Mcgrevey       873842      897           Northwestern Dr
14 55130 Shiloh Huntoon       472118      951           Northwestern Dr
15 33415 Homer Simpson        108392      981           Northwestern Dr
16 29608 Willetta Lurvey      800568     1028           Northwestern Dr
17 18376 Josh Shi             653712     1091           Northwestern Dr
18 22239 Dusty Sigafus        710517     1125           Northwestern Dr
19 70485 Andera Kostelecky    354822     1252           Northwestern Dr
20 23960 Kristopher Lagerberg 658777     1392           Northwestern Dr
21 71924 Laurie Scronce       774116     1418           Northwestern Dr
22 81052 Calvin Czelusniak    471483     1516           Northwestern Dr
23 72076 Courtney Bordeaux    324614     1707           Northwestern Dr
24 51552 Bonita Knie          764124     1726           Northwestern Dr
25 88423 Teri Ehrich          510876     1879           Northwestern Dr
26 81885 Kurtis Masuda        934201     2108           Northwestern Dr
27 96178 Galina Khuu          450248     2183           Northwestern Dr
28 80921 Donovan Yackley      222395     2386           Northwestern Dr
29 34352 Vincenza Burkhardt   436470     2512           Northwestern Dr
30 53699 Christian Pagano     628433     2585           Northwestern Dr
31 54564 Sammie Sengun        217286     2590           Northwestern Dr
32 90397 Dionna Kranwinkle    797260     2678           Northwestern Dr
33 34155 Allyson Lazenson     814209     2840           Northwestern Dr
34 59307 Cyril Yongue         753524     2903           Northwestern Dr
35 98593 Jonah Toner          578982     2947           Northwestern Dr
36 44004 Alison Eska          327797     2951           Northwestern Dr
37 68690 Yer Modest           852404     3046           Northwestern Dr
38 51114 Christena Saffell    814284     3055           Northwestern Dr
39 23044 Val Portlock         924989     3143           Northwestern Dr
40 28360 Rashad Cascone       924517     3212           Northwestern Dr
41 53076 Boris Bijou          664914     3327           Northwestern Dr
42 36378 Freddie Ellzey       267882     3449           Northwestern Dr
43 87456 Leonora Wolfsberger  215868     3483           Northwestern Dr
44 93509 Emmitt Aceuedo       916706     3491           Northwestern Dr
45 19420 Cody Schiel          890431     3524           Northwestern Dr
46 96595 Coretta Cubie        303645     3631           Northwestern Dr
47 73368 Torie Thalmann       773862     3697           Northwestern Dr
48 53890 Sophie Tiberio       957671     3755           Northwestern Dr
49 17729 Lasonya Wildey       439686     3824           Northwestern Dr
50 14887 Morty Schapiro       118009     4919           Northwestern Dr
   ssn
1  635287661
2  131379495
3  108056488
4  613873810
5  778264744
6  243821337
7  341854756
8  438969447
9  828638512
10 547572040
11 962831331
12 208359813
13 988557407
14 826647644
15 871392019
16 843751378
17 193899001
18 724386723
19 787423012
20 492912529
21 254883636
22 657531837
23 347966356
24 597137908
25 248637345
26 201272595
27 398518185
28 515049359
29 197913046
30 644772304
31 848854310
32 278964807
33 991150469
34 866057839
35 745853548
36 306417867
37 419238039
38 247657547
39 100593316
40 838907424
41 401191868
42 474117596
43 565203106
44 979073160
45 947110049
46 378403829
47 341559436
48 442830147
49 917817122
50 111564949

We have identified our first witness as Morty Schapiro. Now lets find the second!

In [48]:
#For the third query as second_witness,
#Select all the records from person where the address_street_name is Frnaklin Ave and the name includes Annabel. 
#Fetch the second_witness
second_witness <- dbSendQuery(db, "SELECT * 
                        FROM person
                        WHERE address_street_name = 'Franklin Ave' 
                        AND name LIKE '%Annabel%'
                        ")
dbFetch(second_witness)

Warning message:
“Closing open result set, pending rows”

  id    name           license_id address_number address_street_name ssn
1 16371 Annabel Miller 490173     103            Franklin Ave        318771143

We have identified our second witness as Annabel Miller. What were their witness statements? What did they see?

In [77]:
#For our fourth query, witness_statements, lets find out what each witness saw...or claim they saw?
#Select the peron's name and interview where the person_id is X, X (Get the ID from the above queries)


first_witness <- dbSendQuery(db, "SELECT *
                        FROM interview
                        WHERE person_id = '14887' 
                        ")
dbFetch(first_witness)

second_witness <- dbSendQuery(db, "SELECT *
                        FROM interview
                        WHERE person_id = '16371' 
                        ")
dbFetch(second_witness)

Warning message:
“Closing open result set, pending rows”

  person_id
1 14887
  transcript
1 I heard a gunshot and then saw a man run out. He had a "Get Fit Now Gym" bag. The membership number on the bag started with "48Z". Only gold members have those bags. The man got into a car with a plate that included "H42W".

Warning message:
“Closing open result set, pending rows”

  person_id
1 16371
  transcript
1 I saw the murder happen, and I recognized the killer from my gym when I was working out last week on January the 9th.

A few new clues! Explore the different clues with multiple queries. Seems like a reliable statement!

In [105]:
#Create a query to select for the following clues: 

suspects <- dbSendQuery(db, "SELECT *
                             FROM get_fit_now_member
                        ") 
dbFetch (suspects) #Found 3 members whose membership starts with 48Z 

suspect <- dbSendQuery(db, "SELECT *
                             FROM drivers_license
                            WHERE plate_number LIKE '%H42W%'
                        ")
dbFetch (suspect) #Found 2 male owners with the following license characters

time <- dbSendQuery(db, "SELECT *
                             FROM get_fit_now_check_in
                            ORDER BY check_in_time, check_in_date
                        ")
dbFetch (time) #Found 2 people

query_combined <- " SELECT p.id, p.name
                    FROM person p
                    LEFT JOIN get_fit_now_member m ON (p.id = m.person_id)
                    LEFT JOIN get_fit_now_check_in c ON (m.id = c.membership_id)
                    LEFT JOIN drivers_license d ON (p.license_id = d.id)
                    WHERE c.check_in_date = '20180109'
                    AND c.membership_id LIKE '48Z%'
                    AND d.plate_number LIKE '%H42W%';
                  "
result <- dbSendQuery(db, query_combined) #showing the combined results
data <- dbFetch(result)
print(data)

Warning message:
“Closing open result set, pending rows”

    id    person_id name                membership_start_date membership_status
1   NL318 65076     Everette Koepke     20170926              gold
2   AOE21 39426     Noe Locascio        20171005              regular
3   2PN28 63823     Jeromy Heitschmidt  20180215              silver
4   0YJ24 80651     Waneta Wellard      20171206              gold
5   3A08L 32858     Mei Bianchin        20170401              silver
6   6W6I2 69510     Paris Accurso       20170613              regular
7   5Y28Y 15218     Millicent Yessios   20180205              gold
8   156A7 79701     Marcelino Leard     20180428              silver
9   A5N3S 24541     Mary Cameron        20170501              gold
10  X0643 15247     Shondra Ledlow      20170521              silver
11  8T75D 86040     Shani Mcclard       20170430              silver
12  R440Q 37694     Jan Louthan         20170606              silver
13  R4J4S 13703     Lien Yasin          20170414              gold
14  K055L 60785     Latisha Larzazs     20170503              regular
15  338FV 66842     Susanne Dubicki     20170719              gold
16  401Y4 80191     Gary Hanohano       20170627              regular
17  DEQP8 19108     Dwight Roussel      20180108              regular
18  N7F6U 52425     Nick Delage         20170709              silver
19  Z7Y82 31477     Rigoberto Hartgrave 20170817              silver
20  THJ81 12344     Thaddeus Modin      20170616              regular
21  51SWX 92075     Keshia Llanet       20170812              regular
22  4TZ45 61663     Bebe Heilmann       20180417              silver
23  5Y85X 45746     Frederic Borsellino 20170803              regular
24  2Q45D 47693     Owen Caston         20170102              silver
25  E43E8 96742     Christian Hogue     20171014              silver
26  TXNSC 18044     Roberto Slot        20170510              silver
27  1G2F7 90543     Roger Bowling       20170511              silver
28  0862D 62171     Johana Dayer        20170612              gold
29  1G205 31411     Toshia Sininger     20170125              silver
30  6071T 85645     Bea Fadei           20180223              gold
⋮   ⋮     ⋮         ⋮                   ⋮                     ⋮
155 48Z38 49550     Tomas Baisley       20170203              silver
156 F3U8A 46617     Vanna Castillanos   20171105              gold
157 NF4S2 15581     Simon Weisenberg    20180426              gold
158 3JP0X 91432     Herschel Deltora    20170131              silver
159 3BRSC 19948     Taylor Skyes        20180314              gold
160 RMX31 99277     Pia Ruthenberg      20171129              silver
161 58636 62536     Harvey Jennkie      20180325              gold
162 NB387 21200     Molly Dolin         20180206              gold
163 J4ML1 48466     Jarred Newenle      20170424              regular
164 MN1KI 43801     Art Kunsman         20180118              silver
165 GE5Q8 92736     Carmen Dimick       20170618              gold
166 ALP65 46423     Angel Diachenko     20170717              regular
167 0T622 98782     Sarina Overpeck     20171109              gold
168 8VM1U 70172     Kurt Laplante       20170524              silver
169 5SPT1 63130     Abe Morefield       20171007              regular
170 3S8Z0 12049     Honey Erbentraut    20171123              regular
171 BL3KC 24033     Collene Gulde       20170913              gold
172 36646 89559     Titus Ruan          20180203              regular
173 CGQ1A 99037     Adrienne Fleishman  20170718              regular
174 4SC0G 92824     Kennith Splett      20170731              silver
175 4MK73 87882     Bernard Hardgrove   20170427              regular
176 82OO1 83144     Grant Saurel        20170202              silver
177 2111X 36646     Arlie Braig         20170315              silver
178 11ZAK 12107     Agatha Seddon       20170628              regular
179 HM6U8 50106     Edgar Bamba         20170128              silver
180 2V137 41693     Wendell Dulany      20171219              silver
181 4KB72 79110     Emile Hege          20170522              regular
182 48Z7A 28819     Joe Germuska        20160305              gold
183 48Z55 67318     Jeremy Bowers       20160101              gold
184 90081 16371     Annabel Miller      20160208              gold

Warning message:
“Closing open result set, pending rows”

  id     age height eye_color hair_color gender plate_number car_make
1 183779 21  65     blue      blonde     female H42W0X       Toyota
2 423327 30  70     brown     brown      male   0H42W2       Chevrolet
3 664760 21  71     black     black      male   4H42WR       Nissan
  car_model
1 Prius
2 Spark LS
3 Altima

Warning message:
“Closing open result set, pending rows”

     membership_id check_in_date check_in_time check_out_time
1    1AE2H         20171107       1            1046
2    QN47X         20171114       2              85
3    JY514         20170310       4            1155
4    ZAB1A         20170403       4              12
5    2Q45D         20171227       4            1188
6    ALP65         20180409       4              43
7    4D5R1         20170109       5             451
8    401Y4         20170116       5             888
9    X377L         20170416       5             182
10   WF7P1         20170527       5             788
11   V5M14         20170124       6              39
12   P876D         20180420       6             877
13   77Q7L         20170921       7             475
14   W83OD         20171216       7             502
15   20U07         20170510       8            1081
16   T80FG         20180106       8             679
17   3JP0X         20170708       9             837
18   344VM         20171130       9             500
19   E18IN         20180105       9            1074
20   UK1F2         20180125       9             465
21   82GA2         20170716      10             869
22   2STMK         20170813      10            1123
23   5Y85X         20170814      10             335
24   P876D         20170922      10             802
25   133ED         20170203      11            1127
26   1AE2H         20170410      11             848
27   0T622         20170306      12             875
28   X1IYH         20171015      12             881
29   31A6U         20180213      12             953
30   MORMA         20170228      13             222
⋮    ⋮             ⋮             ⋮             ⋮
2674 QN47X         20170602      1190          1192
2675 F3U8A         20171029      1190          1198
2676 T80FG         20170609      1191          1198
2677 ITWMV         20170711      1191          1199
2678 WF7P1         20170509      1192          1200
2679 R55GR         20171013      1192          1199
2680 5SPT1         20170721      1193          1199
2681 T2JF2         20171225      1193          1194
2682 7788A         20180116      1193          1193
2683 D2KY6         20170518      1194          1199
2684 3OOJ1         20170615      1194          1199
2685 X1IYH         20170713      1194          1198
2686 2303S         20171109      1194          1199
2687 344VM         20171115      1194          1199
2688 0EY7M         20180223      1194          1194
2689 58636         20170508      1195          1199
2690 5Y85X         20180106      1195          1200
2691 N7F6U         20170120      1196          1199
2692 3S8Z0         20170415      1196          1200
2693 F83PZ         20171117      1197          1199
2694 133ED         20180430      1197          1200
2695 551F6         20170123      1198          1199
2696 48100         20180405      1198          1199
2697 36646         20170116      1199          1200
2698 ALP65         20170318      1199          1199
2699 J4ML1         20170418      1200          1200
2700 4KB72         20171223      1200          1200
2701 48Z55         20180109      1530          1700
2702 48Z7A         20180109      1600          1730
2703 90081         20180109      1600          1700

Warning message:
“Closing open result set, pending rows”

     id          name
1 67318 Jeremy Bowers

We have a suspect! Lets check their witness statement. Do they have an alibi?

In [76]:
#Remember to write our your query in the comments!

jeremy <- dbSendQuery(db, "SELECT *
                        FROM interview
                        WHERE person_id = '67318' 
                        ")
dbFetch(jeremy)

  person_id
1 67318
  transcript
1 I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5" (65") or 5'7" (67"). She has red hair and she drives a Tesla Model S. I know that she attended the SQL Symphony Concert 3 times in December 2017.\n

Uh oh...turns out it wasn't just one person behind the crime...who is this additional person involved?

In [115]:
#Remember to write our your query in the comments!
#You can complete this in a single query or multiple queries.

 woman <-  dbSendQuery(db, " SElECT *
          FROM drivers_license
          WHERE hair_color LIKE '%red%'
          ")

dbFetch(woman)

query_woman_details <- "SELECT p.id, p.name, d.height, d.hair_color, d.gender, d.car_make, d.car_model
                        FROM person p
                        LEFT JOIN drivers_license d ON (p.license_id = d.id)
                        WHERE d.height IN (65, 66, 67) AND d.hair_color = 'red'
                        AND d.car_make = 'Tesla' AND d.car_model = 'Model S';
                       "
details_result <- dbSendQuery(db, query_woman_details) #combined info
details <- dbFetch(details_result)
print(details)

Warning message:
“Closing open result set, pending rows”

     id     age height eye_color hair_color gender plate_number car_make
1    100280 72  57     brown     red        male   P24L4U       Acura
2    101494 48  55     blue      red        female 81X1N7       Kia
3    102950 56  78     brown     red        male   4BR8A0       Honda
4    103197 38  73     amber     red        female 273D0J       Saab
5    106868 58  73     black     red        male   YF2710       Jeep
6    107435 24  74     green     red        female 57JV7G       Jeep
7    107707 56  51     green     red        male   ZBWC42       Land Rover
8    108175 61  68     green     red        male   4F3V1X       Buick
9    108374 18  63     brown     red        male   X2KE6N       Ford
10   109596 30  75     brown     red        female 861GR4       Ford
11   110759 29  71     black     red        female 3YDGV4       Dodge
12   112137 24  62     brown     red        female 42RZ0E       Ford
13   112505 52  51     blue      red        female 22QZIQ       Lincoln
14   113486 82  58     green     red        female 02G281       Infiniti
15   114723 69  57     amber     red        female 1F883V       HUMMER
16   115180 83  53     amber     red        male   R202IE       Pontiac
17   116393 57  79     amber     red        female 2512O1       Chevrolet
18   116681 28  74     brown     red        female 7QEFN8       BMW
19   117514 39  52     amber     red        male   IU6H80       Toyota
20   117726 48  70     brown     red        male   7JUJCY       Honda
21   117827 56  71     black     red        male   F7XLF0       Audi
22   118650 22  75     black     red        male   TT83PV       Pontiac
23   118695 21  76     brown     red        female G40UMB       Honda
24   119248 45  78     amber     red        male   7ECDVK       Lexus
25   119791 61  58     brown     red        male   8KQ4H3       Cadillac
26   120519 88  71     brown     red        female O7BEZ1       Isuzu
27   120579 30  74     amber     red        female X8R4J8       Lexus
28   120768 26  51     green     red        male   FYZRIK       Jaguar
29   121569 45  74     green     red        female 630615       Toyota
30   121583 65  71     green     red        female IP3JL7       Nissan
⋮    ⋮      ⋮   ⋮      ⋮         ⋮          ⋮      ⋮            ⋮
1238 976326 61  50     brown     red        male   GY1055       Isuzu
1239 976461 84  57     blue      red        male   83D227       Hyundai
1240 976619 67  51     black     red        male   6JWYKL       Suzuki
1241 977666 36  50     blue      red        male   24H3IH       Chrysler
1242 980415 54  58     black     red        male   663BQ2       Nissan
1243 980738 35  75     blue      red        female 42I054       Dodge
1244 982387 43  60     green     red        female 03L2UL       Ford
1245 982856 18  65     black     red        female M1JZEQ       Chevrolet
1246 983512 46  69     amber     red        female 353U1Z       Nissan
1247 983855 39  78     green     red        male   0VZZ00       Chevrolet
1248 984247 68  52     green     red        male   SZC106       Chrysler
1249 984468 81  70     green     red        female 4750RR       BMW
1250 985009 61  60     amber     red        male   7FJ1Z4       Porsche
1251 986755 63  58     green     red        male   SZX145       Porsche
1252 987116 19  75     green     red        female 50GC47       Toyota
1253 987311 77  58     black     red        male   KEL42C       Chrysler
1254 987689 27  77     amber     red        female JR3WG8       Chevrolet
1255 990015 41  66     green     red        male   787ZK7       Ford
1256 990135 57  70     blue      red        female 33HE74       Subaru
1257 991082 87  81     brown     red        male   T44541       Ford
1258 991450 41  58     green     red        male   BZRJBF       Honda
1259 992138 47  77     amber     red        male   AYYUK7       Nissan
1260 992350 41  82     blue      red        female EQV7ZQ       Porsche
1261 992360 46  76     green     red        female O2B3T8       Lincoln
1262 992624 84  72     blue      red        male   U77010       BMW
1263 993748 44  66     amber     red        female GONCC5       Honda
1264 994453 70  75     brown     red        female O5377P       Hyundai
1265 996577 77  77     green     red        female L0B62F       Chevrolet
1266 998194 59  65     black     red        female U85D0X       Mitsubishi
1267 999374 60  54     black     red        male   PKO8N7       BMW
     car_model
1    MDX
2    Sportage
3    Insight
4    9-7X
5    Grand Cherokee
6    Grand Cherokee
7    Discovery Series II
8    LaCrosse
9    Escape
10   Thunderbird
11   Ram 1500
12   Escape
13   MKZ
14   I
15   H3
16   GTO
17   Astro
18   745
19   Camry Hybrid
20   Civic
21   Q5
22   Grand Prix
23   Pilot
24   LS
25   Escalade ESV
26   Axiom
27   LX
28   X-Type
29   Prius
30   Frontier
⋮    ⋮
1238 Ascender
1239 Accent
1240 Daewoo Lacetti
1241 Town & Country
1242 Armada
1243 Caravan
1244 Contour
1245 Silverado 3500HD
1246 Versa
1247 Blazer
1248 Aspen
1249 5 Series
1250 911
1251 Cayman
1252 Highlander
1253 300M
1254 Express 2500
1255 Mustang
1256 BRZ
1257 Thunderbird
1258 Accord
1259 350Z
1260 911
1261 Navigator L
1262 M3
1263 Fit
1264 Tiburon
1265 Silverado 1500
1266 Lancer Evolution
1267 530

Warning message:
“Closing open result set, pending rows”

     id             name height hair_color gender car_make car_model
1 78881         Red Korb     65        red female    Tesla   Model S
2 90700    Regina George     66        red female    Tesla   Model S
3 99716 Miranda Priestly     66        red female    Tesla   Model S

Three different people match this description! Now which one attended the SQL Symphony Concert three times?

In [119]:
#Let's find the killer!
#checking people who attended
murderer <- dbSendQuery(db, " SElECT *
          FROM facebook_event_checkin
          WHERE event_name LIKE '%Concert%'
          ")

dbFetch(murderer)

concert <- " SELECT p.id, p.name, d.height, d.hair_color, d.gender, d.car_make, d.car_model
                                FROM person p
                                LEFT JOIN drivers_license d ON (p.license_id = d.id)
                                WHERE d.height IN (65, 66, 67) AND d.hair_color = 'red'
                                AND d.car_make = 'Tesla' AND d.car_model = 'Model S'
                                AND p.id IN (
                                    SELECT f.person_id
                                    FROM facebook_event_checkin f
                                    WHERE f.event_name = 'SQL Symphony Concert'
                                    AND f.date LIKE '201712%'
                                    GROUP BY f.person_id
                                    HAVING COUNT(f.person_id) = 3);
                                "
attendees <- dbSendQuery(db, concert) #combine previous query with new info
attendees_data <- dbFetch(attendees)
print(attendees_data)

Warning message:
“Closing open result set, pending rows”

    person_id event_id event_name           date
1   97207     1143     SQL Symphony Concert 20170322
2   97207     1143     SQL Symphony Concert 20180226
3   92433     1143     SQL Symphony Concert 20170821
4   92433     1143     SQL Symphony Concert 20180327
5   88952     1143     SQL Symphony Concert 20170918
6   88952     1143     SQL Symphony Concert 20171016
7   88952     1143     SQL Symphony Concert 20171031
8   88952     1143     SQL Symphony Concert 20170526
9   28166     1143     SQL Symphony Concert 20170903
10  28166     1143     SQL Symphony Concert 20170328
11  28166     1143     SQL Symphony Concert 20170407
12  39020     1143     SQL Symphony Concert 20170529
13  39020     1143     SQL Symphony Concert 20170712
14  39020     1143     SQL Symphony Concert 20180224
15  90434     1143     SQL Symphony Concert 20180102
16  90434     1143     SQL Symphony Concert 20170226
17  83998     1143     SQL Symphony Concert 20170525
18  83998     1143     SQL Symphony Concert 20170901
19  83998     1143     SQL Symphony Concert 20170426
20  83998     1143     SQL Symphony Concert 20170518
21  17884     1143     SQL Symphony Concert 20170522
22  17884     1143     SQL Symphony Concert 20170918
23  17884     1143     SQL Symphony Concert 20180315
24  58460     1143     SQL Symphony Concert 20171012
25  58460     1143     SQL Symphony Concert 20170610
26  93726     1143     SQL Symphony Concert 20170820
27  93726     1143     SQL Symphony Concert 20170325
28  93726     1143     SQL Symphony Concert 20170602
29  62184     1143     SQL Symphony Concert 20170723
30  62184     1143     SQL Symphony Concert 20170821
⋮   ⋮         ⋮        ⋮                    ⋮
183 54233     1143     SQL Symphony Concert 20170401
184 54233     1143     SQL Symphony Concert 20170625
185 54233     1143     SQL Symphony Concert 20170916
186 54233     1143     SQL Symphony Concert 20180306
187 85196     1143     SQL Symphony Concert 20180102
188 85196     1143     SQL Symphony Concert 20170511
189 85196     1143     SQL Symphony Concert 20171021
190 85196     1143     SQL Symphony Concert 20170819
191 21624     1143     SQL Symphony Concert 20170314
192 21624     1143     SQL Symphony Concert 20180413
193 21624     1143     SQL Symphony Concert 20170109
194 21624     1143     SQL Symphony Concert 20170102
195 81983     1143     SQL Symphony Concert 20180319
196 81983     1143     SQL Symphony Concert 20170514
197 66603     1143     SQL Symphony Concert 20170723
198 66603     1143     SQL Symphony Concert 20170713
199 66603     1143     SQL Symphony Concert 20180411
200 66603     1143     SQL Symphony Concert 20180220
201 14539     1143     SQL Symphony Concert 20180413
202 83144     1143     SQL Symphony Concert 20171018
203 83144     1143     SQL Symphony Concert 20170402
204 83144     1143     SQL Symphony Concert 20170131
205 50886     1143     SQL Symphony Concert 20170118
206 24556     1143     SQL Symphony Concert 20171207
207 24556     1143     SQL Symphony Concert 20171221
208 24556     1143     SQL Symphony Concert 20171224
209 99716     1143     SQL Symphony Concert 20171206
210 99716     1143     SQL Symphony Concert 20171212
211 99716     1143     SQL Symphony Concert 20171229
212 67318     1143     SQL Symphony Concert 20171206

Warning message:
“Closing open result set, pending rows”

     id             name height hair_color gender car_make car_model
1 99716 Miranda Priestly     66        red female    Tesla   Model S

<b>The murderer(s) is/are: Miranda Preistly and Jeremy Bowers

In [109]:
#Disconnect from the database. Always remember to disconnect :)

Warning message in connection_release(conn@ptr):
“There are 1 result in use. The connection will be released when they are closed”

In [126]:
dbDisconnect(db)

Warning message in connection_release(conn@ptr):
“Already disconnected”